cs2-tournament.ru {
    handle_path /api/* {
        reverse_proxy http://backend:3000
    }
    handle {
        root * /var/www/html
        try_files {path} {path}/ /index.html
        file_server
    }
}